body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #ccc;
  padding-bottom: .1em;
  position: fixed;
  width: 100%;
}

.links {
  display: flex;
}
nav p{
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  padding: 0 2em 0 0;
  margin: 0;
}

nav .links {
  margin: 0 100px;
  border-top: 5px solid #c30;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 15em 0 0;
  margin: 0;
  flex: 4;
}

nav a {
  text-decoration: none;
}

nav a:link { color: inherit;}
nav a:visited { color: inherit;}
nav a:hover { color: #c30;}

h1 {
  padding-top: 3em;
  padding-bottom: .5em;
  margin: 0;
  text-align: center;
  color: #555;
}

h3 {
  color: #999;
  margin: 0 15em 0 15em;
  text-align: center;
  padding-top: 0em;
}

.ni {
  display: flex;
  padding-top: 2em;
  justify-content: center;
  margin: 0 5em 0 5em;
}
img .ni {
  height: 300px;
}

.container {
  position: relative;
  width: 50%;
  margin: .5em;
}

.image {
  display: flex;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bbb;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: #000;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

section.box {
  display: flex;
  padding-top: 1em;
  font-size: 80%;
  margin: 0 5em 0 5em;
}

.box h4 {
  font-size: 120%;
}

.whats-new {
  flex: 1;
}

.whats-new h4 {
  color: #c30;
}

.modern-layout {
  flex: 3;
}

.modern-layout p {
  column-count: 3;
}
